# Build outputs
**/bin/
**/obj/

# Publish output
dist/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# NuGet
*.nupkg
**/packages/
!**/packages/build/
*.lock.json
!packages.lock.json

# OS
Thumbs.db
.DS_Store
desktop.ini

# Logs
*.log
